{% extends "auctions/layout.html" %} {% block body %}
<h2 class="ml-4 mb-0">Categories</h2>
<div
  class="mt-0 ml-4 w-100 p-1 d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-start align-items-center"
>
  {%for category in categories%}
  <form class="mr-2" action="{%url 'categoryFilter'%}" method="post">
    {% csrf_token %}
    <div class="form-group"></div>
    <input
      name="category"
      id="category"
      value="{{category}}"
      type="submit"
      class="btn btn-dark"
    />
  </form>
  {%endfor%} {% endblock %}
</div>
