{% extends "auctions/layout.html" %} {% block body %}
<div
  class="w-100 p-3 d-flex flex-wrap flex-column bd-highlight mb-3 justify-content-center align-items-center"
>
  <h2>Categories</h2>
  {%for category in categories%}
  <form class="mx-3" action="{%url 'categoryFilter'%}" method="post">
    {% csrf_token %}
    <div class="form-group"></div>
    <input
      name="category"
      id="category"
      value="{{category}}"
      type="submit"
      class="btn btn-dark"
    />
  </form>
  {%endfor%} {% endblock %}
</div>
