{% extends "auctions/layout.html" %} {% block body %}

<section
  style="width: 100%"
  class="p-3 d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-start"
>
  <div class="jumbotron">
    <h1 class="display-4">{{listing.title}}</h1>
    <img
      class="img"
      src="{{listing.image}}"
      style="width: 50vw; max-width: 450px"
      alt=""
    />
    <p>{{listing.owner}}</p>
    <p class="lead w-50">{{listing.description}}</p>
    <hr class="my-4 w-50" />
    <h4 class="display-4">${{listing.price}}</h4>
    {%if user.is_authenticated%} {%if listing.activeListing == False%}
    <div>Auction closed</div>
    {%elif watchlistTrue%}
    <form action="{%url 'removeFromWatchlist' id=listing.id%}" method="POST">
      {%csrf_token%}
      <p class="lead">
        <button class="btn btn-light btn-lg" type="submit">
          Remove from watchlist
        </button>
      </p>
    </form>
    {%else%}
    <form action="{%url 'addToWatchlist' id=listing.id%}" method="POST">
      {%csrf_token%}
      <p class="lead">
        <button class="btn btn-dark btn-lg" type="submit">
          Add to watchlist
        </button>
      </p>
    </form>

    {%endif%} {%if listing.activeListing == False%}
    <p>Try with the next one!</p>
    {%if currentBidder == currentUser%}
    <div class="w-50 alert alert-success" role="alert">
      You won {{currentUser}}!!
    </div>
    {%endif%} {%else%}
    <p class="lead">
      <a
        href="{%url 'bid' id=listing.id%}"
        class="btn btn-dark btn-lg"
        type="submit"
      >
        Bid on {{listing}}
      </a>
    </p>
    {%endif%} {%endif%}
  </div>
</section>
<section style="width: 100%" class="p-3 mb-3 justify-content-start">
  <h2>Comments</h2>
  {%if user.is_authenticated%}
  <form action="{%url 'listing' id=listing.id%}" method="POST">
    {% csrf_token %} {%if isVoidAlert == True%}
    <div class="alert alert-danger" role="alert">The comment is blank</div>
    {%endif%}
    <div class="form-group mt-3">
      <input
        type="text"
        name="comment"
        class="form-control"
        id="comment"
        placeholder="Add a comment"
      />
      <button class="btn mt-3 btn-dark btn-lg" type="submit">submit</button>
    </div>
  </form>
  {%endif%} {%for comment in listingComments%}

  <p class="font-weight-bold">{{comment.author}}</p>
  <p>{{comment.comment}}</p>

  {%endfor%}
</section>

{% endblock %}
